<div class="commentBox">
  <span id="searchedWord"><strong><%= records.input1 %></strong>:</span><br>
  <span><span><em><%= records.input2 %></span></em></span><br>
  <span><strong>1. <span><%= records.input3 %></span></strong></span><br>
  <span><strong><span><%= records.input4 %></span></strong></span><br>
  <span><strong><span><%= records.input5 %></span></strong></span><br>
  <span><strong><span><%= records.input6 %></span></strong></span><br>
</div>
<script type="text/javascript">




</script>
