<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include("./partials/partial_2") %>
  </head>
  <body>
    <%- include("./partials/partial_1") %>
    <div class="new_main">
      <div id="searchBarArea">
        <form id="contact_form0" action="/sentence" method="post">
          <label for="input1">Cümle Arama - Consulte o Dicionário </label><br>
          <span><input class="inputAreas" type="text" name="input1" id="mainInput2" value=<%= wordy %> required>&nbsp;&nbsp;&nbsp;
            <button class="commentButton">Ara-Pesquisar</button></span>

        </form>
      </div>
      <span>Bu kelime sözlükte yok: <strong><%= wordy %></strong></span><br>
      <span>NOT: Aradığınız kelimeyi küçük harfle yazın.</strong></span><br> <br>
      <span>Esta palavra não foi encontrada no dicionário: <strong><%= wordy %></strong></span><br>
      <span>NOTA: Escreva a sua palavra com letras minúsculas</span>
    </div>
    <script type="text/javascript">
    $(document).ready(function(){
      document.getElementById("mainInput2").select();
    });
    </script>
  </body>
</html>
